<form (ngSubmit)="onSubmit()">
<div class="loginForm">
    <h2>Login Form</h2>

    
   
    <div class="form-control">
        
        <input id="userName" name="userName" type="text" placeholder="User Name" [(ngModel)]="user.userName" required>
    </div>

    <div class="form-control">
        
        <input id="password" name="password" type="password" placeholder="Password" [(ngModel)]="user.password" required>
    </div>

    <button type="submit" id="loginButton" >Login</button>

</div>

<span>{{userMessage}}</span>
</form>
