<form (ngSubmit)="onSubmit()">
    <div class="signup-form">
        <h2>Sign Up</h2>

        <div class="form-control">
            <input id="user-name" name="user-name" type="text" placeholder="User Name" [(ngModel)]="user.userName" required>
        </div>

        <div class="form-control">
            <input id="password" name="password" type="password" placeholder="Password" [(ngModel)]="user.password" required>
        </div>

        <div class="form-control">
            <input id="email" name="email" type="text" placeholder="Email" [(ngModel)]="user.email" required>
        </div>

        <button type="submit" id="signup-button" >Sign Up</button>
      

    </div>
</form>

<h1>{{message}}</h1>